{% extends 'base.html' %}
{% load static %}

{% block content %}

<html lang="en">
  <head>
    <title> Topics Based </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<body>
  <div id="fh5co-main">
      <div class="fh5co-narrow-content">
         <center><h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">&nbsp;&nbsp; THE TOP USERS IN RESPECTIVE TOPICS </h2></center>

         <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">&nbsp;&nbsp; HEALTH RELATED </h2>

                <script>
                    $(document).ready(function() {
                                var ctx = document.getElementById('myChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                        labels: [{% for item in qs %}'{{item.name}}', {% endfor %}],
                                        datasets: [{
                                            label: '# Total tweets',
                                            data: [{% for item in qs %} {{item.health_score}}, {% endfor %}],
                                            backgroundColor: [
                                                
                                                '#0e2138',
                                                '#072b45',
                                                
                                                '#002147',
                                                '#0b456f',
                                                '#0f5f9a',
                                                '#2970a5',
                                                '#4482b0',
                                                '#5f94bb',
                                                '#79a6c6',
                                                '#94b7d2',
                                                '#b0c4de',
                                                '#afc9dd',
                                                '#c9dbe8',
                                                '#dfebf5',
                                                '#e4edf3'
                                            ],
                                            borderWidth: 1 
                                        }]
                                    },
                                });
                            });
                </script>
            <canvas id="myChart" width="80" height="40"></canvas>
        </div>

        <div id="fh5co-main">
            <div class="fh5co-narrow-content">
                <a class="btn btn-primary btn-learn" href="{% url 'tu_topic' %}"> Economy <i class="icon-arrow-right3"></i></a>&nbsp; &nbsp;

              &nbsp;&nbsp; <a class="btn btn-primary btn-learn" style="margin:50px;" href="{% url 'env_topic' %}"> ENVIRONMENT <i class="icon-arrow-right3"></i></a>
            </div>
        </div>
    </div>
 

</body>
</html>

{% endblock %}